{% if site.logo %}
    <div class="header-title">
        {% include header-title.html %}
    </div>
    <div class="header-title-mobile">
        <section>
        {% include header-title.html %}
        </section>
    </div>
{% else %}
    {% include header-title.html %}
{% endif %}

<p>{{ site.description | default: site.github.project_tagline }}</p>

{% unless site.hide_project_page %}
    {% if site.github.is_project_page %}
    <p class="view"><a href="{{ site.github.repository_url }}">View the Project on GitHub<br><small>{{ site.github.repository_nwo }}</small></a></p>
    {% endif %}

    {% if site.github.is_user_page %}
    <p class="view"><a href="{{ site.github.owner_url }}">View My GitHub Profile</a></p>
    {% endif %}
{% endunless %}

{% include sidebar.html %}

<!-- for mathjax support -->
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
TeX: { equationNumbers: { autoNumber: "AMS" } }
});
</script>
<script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML"></script>
